.contenedorPrincipal{
    display:flex;
    flex-direction:  row;
    justify-content: space-between;
    
}
.principaIzquierda{
    width: 60%;
    text-align: center;
    margin-left:10%;
   
    
}
.padreNoticias{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;

}
.contenedorTextoIz{
    display: flex;
    width: 50%;
    font-size: 20px;
    color: blue;    
}
.img1{
    display: flex;
    width: 100%;
}
.contenedorTextoIzDr{
    display: flex;
    width: 100%;
}
.redesSocialesIz{
    width: 50%;
    font-size: 20px;
    flex-direction: column;
    justify-content: center;
}

.textoIz{
    color: lightslategray;
}
.principalDerecha{
    width: 40%;
    display: flex;
    flex-direction: column;
    font-size: 90%;
    text-align: left;
    padding-left: 1%;
    padding-right: 1%;

    margin-right: 15%;
}
.img{
    width: 100%;
}
.noticiasTitulo{
    text-align: start;
 
}
.contenedorDatosIz{
    display: flex;
    font-size: 30px;
    text-align: left;
    margin-top: 3%;
} 
.contenedorTextoLateral{
    color: blue;
    font-size: 25px;
}


.listaRedes{
    text-align: left;
    
}
.twitter{
    width: 70%;
    padding: 2%;
    background-color: rgb(226, 227, 228);
    
}
.instagram{
    width: 70%;
    padding: 2%;
    background-color: rgb(226, 227, 228);
    
}
.facebook{
    width: 70%;
    padding: 2%;
    background-color: rgb(226, 227, 228);
    
}
.contenedorImgTexto{
    display: flex;
    flex-direction: row;
}